@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                        "section"
                        "footer";
}

header {
    grid-area: header;
    background-color: #e99295;
    padding: 0 2%;
    display: flex;
    justify-content: flex-start;
}

h1 {
    font-size: 26px;
    color: white;
    text-shadow: 6px 6px 6px rgba(0,0,0,0.2);
}

h2 {
    font-size: 22px;
}


.section-container {
    grid-area: section;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 2%;
}

.form-container {
    display: flex;
    align-items: flex-start;
}

#todo-form {
    flex: 50%;
    max-width: 100%;
    padding: 0 15px 15px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3)
}

textarea {
    font-family: 'Montserrat', sans-serif;
    width:99%;
    max-width:99%;
    max-height:40%;
    resize:vertical;
}
#new-todo-date {
    font-family: 'Montserrat', sans-serif;
}

#new-todo-date:hover {
    cursor: pointer;
}


#submit {
    font-family: 'Montserrat', sans-serif;
    padding: 6px 10px;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.todo-list {
    flex: 50%;
    max-width: 100%;
    padding: 0 15px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3)
}

ul {
    list-style: none;
    padding-left: 10px;
}

li {
    line-height: 1.8;
}

button {
    font: 400 15px 'Montserrat';
    background-color: #e99295;
    color: white;
    padding: 3px 6px;
    border-style: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #cd8083;

}

footer {
    position: absolute;
    bottom:0;
    width:100%;
    grid-area: footer;
    background-color: #e99295;
    padding: 0 2%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 740px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .section-container {
        grid-area: section;
        padding: 1% 5%;
        display: grid;
        grid-template-columns: 50% 50%;

    }

    #todo-form {
        padding: 0 15px 15px;
        margin-top: 0;
        border-radius: 10px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3)
    }

    .list-container {
        display: flex;
        flex-direction: column;
    }

    .todo-list {
        flex: 50%;
        max-width: 100%;
        padding: 0 15px 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3)
    }
}

