<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>To do list</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
</head>
<body>
<div class="grid-container">
    <!--    header-->
    <header>
        <h1>Good morning, here are your to dos for today</h1>
    </header>

    <!--    main-->
    <section class="section-container">
        <form id="todo-form">
            <h2>Enter a new to do item</h2>

            <label for="new-todo-name">Your new to do item: </label>
            <textarea id="new-todo-name"
                      placeholder="New to do"
                      v-model="newTodoName"
            ></textarea><br>

            <label for="new-todo-date">When do you want to be finished? </label><input type="date" id="new-todo-date"> <br>
            <button id="submit" @click.prevent="addNewTodo">Submit</button>
        </form>

        <div id="todo-list">
            <h2>Your to do items for today</h2>
            <ul>
                <li
                        is="todo-item"
                        v-for="(todo, index) in todos"
                        :key="todo.id"
                        :name="todo.name"
                        @remove="todos.splice(index, 1)"
                ></li>
            </ul>
        </div>

    </section>


    <!--    footer-->
    <footer>
        <h1>Good luck with your day :)</h1>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>