<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>To do list</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
</head>
<body>
<div class="grid-container">
    <!--    header-->
    <header>
        <h1>Hi {{name}}! Here are your to dos</h1>
    </header>

    <!--    main-->
    <section class="section-container">
        <div class="form-container">
            <form id="todo-form">
                <h2>Enter a new to do item</h2>

                <label for="new-todo-name">Your new to do item: </label>
                <textarea id="new-todo-name"
                          placeholder="New to do"
                          v-model="newTodoName"
                ></textarea><br>

                <label for="new-todo-date">When do you want to be finished? </label>
                <input type="date"
                       id="new-todo-date"
                       v-model="newTodoDate"
                > <br>

                <button id="submit" @click.prevent="addNewTodo" @click="sortByDate">Submit</button>
            </form>
        </div>


        <div class="list-container">
            <div class="todo-list" id="todo-today">
                <h2>Your to do items for today</h2>
                <ul>
                    <li
                            is="todo-item"
                            :style="todo.styling"
                            v-for="(todo, index) in todos"
                            v-if="todo.today"
                            :key="todo.id"
                            :name="todo.name"
                            :date="todo.date"
                            :today="todo.today"
                            :complete="todo.complete"
                            @completed="todo.complete = true; todo.styling.textDecoration = 'line-through'"
                            @undo="todo.complete = false; todo.styling.textDecoration = 'none'"
                            @remove="todos.splice(index, 1)"
                    ></li>
                </ul>
            </div>

            <div class="todo-list" id="todo-later">
                <h2>Your to do items for later</h2>
                <ul>
                    <li
                            is="todo-item"
                            :style="todo.styling"
                            v-for="(todo, index) in todos"
                            v-if="!todo.today"
                            :key="todo.id"
                            :name="todo.name"
                            :date="todo.date"
                            :today="todo.today"
                            :complete="todo.complete"
                            @completed="todo.complete = true; todo.styling.textDecoration = 'line-through'"
                            @undo="todo.complete = false; todo.styling.textDecoration = 'none'"
                            @remove="todos.splice(index, 1)"
                    ></li>
                </ul>
            </div>
        </div>
    </section>


    <!--    footer-->
    <footer>
        <h1>Good luck with your day ✨</h1>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>